In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('/home/pybokeh/Downloads/All_Plants_Budgeted_CPU_By_Group_SubGroup.csv')

In [3]:
df2 = pd.read_csv('/home/pybokeh/Downloads/DKim_Adjusted_CPUs.csv')

In [4]:
merged = pd.merge(df1, df2, how='left', left_on=['GraphCatID'], right_on=['GraphCatID'])

In [7]:
df1.describe()

,GraphCatID,Budgeted_CPU,OriginalReserve_CPU,ModelYear,Total_CPU_GC_Level
count,80040.000000,80040.000000,80040.000000,80040.00000,80040.000000
mean,996.883058,2.759569,2.378702,2012.37931,331.148301
std,394.853819,12.938391,11.477115,4.71643,420.072662
min,290.000000,-0.152002,-0.228526,1999.00000,0.000000
25%,693.000000,0.060118,0.122574,2009.00000,147.316073
50%,929.000000,0.460147,0.559337,2013.00000,231.440996
75%,1372.000000,1.857507,1.862444,2016.00000,400.405958
max,1744.000000,1104.308231,1104.308231,2019.00000,5293.010804

In [8]:
df2.describe()

         GraphCatID  Budgeted_CPU  OriginalReserve_CPU
count  80040.000000  80040.000000         80040.000000
mean     996.883058      2.756740             2.378702
std      394.853819     12.933317            11.477115
min      290.000000    -12.475283            -0.228526
25%      693.000000      0.059847             0.122574
50%      929.000000      0.459083             0.559337
75%     1372.000000      1.858663             1.862444
max     1744.000000   1104.308231          1104.308231