In [1]:
import pandas as pd

In [7]:
df = pd.read_clipboard()

In [8]:
df

  DESC YEAR_MONTH  VALUE
0   V1    2018-01      1
1   V1    2018-02      2
2   V1    2018-03      3
3   V1    2018-04      4
4   V1    2018-05      5
5   V1    2018-06      6
6   v2    2018-03      1
7   v2    2018-04      2

In [9]:
pivoted = df.pivot(index='YEAR_MONTH', columns='DESC', values='VALUE')

In [10]:
pivoted

DESC         V1   v2
YEAR_MONTH
2018-01     1.0  NaN
2018-02     2.0  NaN
2018-03     3.0  1.0
2018-04     4.0  2.0
2018-05     5.0  NaN
2018-06     6.0  NaN