# PURPOSE

#### Extract data from mainframe DB2 and then upload to sqlite

In [1]:
from sqlalchemy import create_engine
import os
import pandas as pd
import pyodbc

In [2]:
dsn = 'DSNOGW01'
user = os.getenv('windowsuser')
pwd = os.getenv('mainframepwd')

In [3]:
with pyodbc.connect(f'DSN={dsn};UID={user};PWD={pwd}') as conn:
    sql = """
    SELECT
        EMPLID,
        "EMPL_RCD#",
        EFFDT,
        EFFSEQ,
        RTRIM(NAME) AS NAME,
        RTRIM(PREFERRED_NAME) AS PREFERRED_NAME,
        COUNTY,
        STATE,
        COUNTRY,
        PER_ORG,
        PER_ORG_DESCR,
        PER_ORG_ABBRV,
        ORIG_HIRE_DT,
        HIRE_DT,
        WORK_PHONE,
        DEPTID,
        JOBCODE,
        EMPL_STATUS,
        RTRIM(EMPL_ST_DESCR) AS EMPL_ST_DESCR,
        EMPL_ST_ABBRV,
        EMPL_CLASS,
        EMPL_CLS_DESCR,
        EMPL_CLS_ABBRV,
        LOCATION,
        JOB_ENTRY_DT,
        DEPT_ENTRY_DT,
        SHIFT,
        WORK_SHIFT_CODE,
        REG_TEMP,
        FULL_PART_TIME,
        RTRIM(COMPANY) AS COMPANY,
        RTRIM(BUSINESS_UNIT) AS BUSINESS_UNIT,
        RTRIM(BUS_UNIT_NAME_H) AS BUS_UNIT_NAME_H ,
        BUS_UNIT_ABBRV_H,
        PAYGROUP,
        EMPL_TYPE,
        RTRIM(EMPL_TYP_DESCR) AS EMPL_TYP_DESCR,
        EMPL_TYP_ABBRV,
        JOBTITLE,
        JOBTITLE_ABBRV,
        RTRIM(DEPTNAME) AS DEPTNAME,
        DEPTNAME_ABBRV,
        TEAM_NUMBER,
        PLANT_LOC_CODE,
        DEPT_NO,
        ASSOC_NO,
        PAGER_NO,
        COOR_EMPLID,
        COOR_FIRST_NAME,
        COOR_LAST_NAME,
        COOR_BACKUP_EMPLID,
        RTRIM(LAST_NAME_SRCH) as LAST_NAME_SRCH,
        RTRIM(FIRST_NAME_SRCH) as FIRST_NAME_SRCH,
        EXEMPT_CODE,
        BUS_UNIT_H,
        BUS_UNIT_ID_H,
        HAM_UNIT_NAME_H,
        HAM_UNIT_ABBRV_H,
        BUS_TEAM_H,
        BUS_TEAM_ID_H,
        HAM_TEAM_NAME_H,
        HAM_TEAM_ABBRV_H,
        TEAM_DESCR_H,
        DEPT_DESCR,
        RTRIM(OPRID) AS OPRID,
        OPRDEFNDESC,
        RTRIM(EMAILID) AS EMAILID,
        ASGN_END_DT,
        ASSGN_PCT_H,
        LD_ASGN_ACTN_DT_H
    FROM
        ARS.ASSOCIATE_INFO_VW
    WHERE
        HAM_UNIT_NAME_H = 'Supply Chain Mgt'
    FOR READ ONLY WITH UR
    """
    df = pd.read_sql(sql, conn)

In [ ]:
df = pd.read_clipboard()

In [ ]:
df.head()

In [5]:
df.dtypes

EMPLID               object
EMPL_RCD#             int64
EFFDT                object
EFFSEQ                int64
NAME                 object
                      ...
OPRDEFNDESC          object
EMAILID              object
ASGN_END_DT          object
ASSGN_PCT_H           int64
LD_ASGN_ACTN_DT_H    object
Length: 70, dtype: object

In [ ]:
with create_engine('sqlite:///C:/Users/SomeUser/<path_to_your>/sc_roster.db', echo=False).connect() as conn:
    df.to_sql('sc_associates', conn, if_exists='replace')